#game {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: repeat(3, auto);
}
/*centers board*/

.grid-cell {
    border: 1px solid #000;
    width: 50px;
    height: 50px;
    cursor: pointer;
}
/*creates border for board*/

.grid-cell:nth-child(-n + 3) {
    border-top: none;
}

.grid-cell:nth-child(3n + 1) {
    border-left: none;
}

.grid-cell:nth-child(3n + 3) {
    border-right: none;
}

.grid-cell:nth-last-of-type(-n + 3) {
    border-bottom: none;
}
/*makes board cleaner looking*/

.x::after {
    content: '✖';
}

.o::after {
    content: 'Ｏ';
}

/*will log x and o onto console*/

.disabled {
    cursor: not-allowed;
}

.grid-cell:not(.disabled):hover {
    background: #eee;
}

/*disables reselecting a box*/

